@media only screen and (max-width: 768px) {

  .main-btn {
    padding: 20px;
    width: 200px;
    border-radius: 10px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-btn i {
    font-size: 2rem;
  }
  

  .btn-text {
    font-size: 1.5rem;
    display: inline-block;
    margin-left: 15px;
  }

  .info-text {
    margin-top: 40px;
    font-size: 1.5rem;
  }
  
}