@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&display=swap');

:root {
  --primary: #13B2B5;
  --secondary: #124057;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100vw;
  color: var(--secondary);
  font-family: 'Baloo 2', cursive;
  font-weight: 600;
}

.main {
  background-image: url('assets/bg.png');
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  z-index: 10;
  width: 300px;
}

.main-container {
  display: flex;

  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.main-btn {
  color: #FFF;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 0px 20px;
  width: 250px;
  height: 80px;
  border-radius: 20px;
  border: 3px solid #FFF;
  text-decoration: none;

  display: flex;
  /* justify-content: center; */
  align-items: center;
  transition: all 0.2s;
}

.main-btn i {
  display: block;
}

.icon-email {
  font-size: 2.5rem;
}

.icon-wpp {
  font-size: 3rem;
}

.icon-spotify {
  font-size: 2.75rem;
}

.btn-primary {
  background-color: var(--primary);
}

.btn-primary:hover {
  filter: brightness(0.95);
}

.btn-secondary {
  background-color: var(--secondary);
}

.btn-secondary:hover {
  filter: brightness(0.95);
}

.btn-text {
  font-size: 2rem;
  display: inline-block;
  margin-left: 15px;
}

.info-text {
  margin-top: 20px;
  font-size: 1.5rem;
}

/* BLOCKS */

.top {
  position: absolute;
  right: 0;
  width: 30px;
  height: 80px;
}

.top-block-1 {
  top: 0;
  background-color: var(--secondary);
}

.top-block-2 {
  top: 80px;
  background-color: var(--primary);
}

.top-block-3 {
  top: 160px;
  background-color: white;
}

.bottom {
  position: absolute;
  left: 0;
  width: 40px;
  height: 100px;
}

.bottom-block-1 {
  bottom: 350px;
  background-color: var(--secondary);
}

.bottom-block-2 {
  bottom: 250px;
  background-color: var(--primary);
}

.bottom-block-3 {
  bottom: 150px;
  background-color: white;
}

/* BORDERS */

.top-border {
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 300px;
  border-left: 3px solid var(--secondary);
}

.square {
  position: absolute;
  width: 10px;
  height: 10px;
  /* border-radius: 50%; */
  background-color: var(--secondary);
}

.top-square {
  right: 26.2px;
  top: 290px;
}

.bottom-border {
  position: absolute;
  left: 0;
  bottom: 60px;
  width: 42px;
  height: 700px;
  border-right: 3px solid var(--secondary);
}

.bottom-square-1 {
  left: 36.2px;
  bottom: 760px;
}

.bottom-square-2 {
  left: 36.2px;
  bottom: 60px;
}